---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Pony Event">
	<main>
		<section class="min-h-screen flex items-center justify-center">
			<div class="text-center">
				<h1 class="text-6xl font-bold">
					Pony Event 2026
				</h1>

				<p class="mt-6 text-xl text-stone-300">
					Rust, passie en ponysport middenin de natuur.
				</p>
			</div>
		</section>
	</main>
</BaseLayout>